#root {
  max-width: 1280px;
  min-width: 680px;
  margin: 0 auto;
  padding: 2rem;

  /* text-align: center; */

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  
}

#recipeForm{
    border: solid 2px rgb(209, 236, 247);
    border-radius: 15px;
    margin: 5px;
    padding: 15px;

    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;

    background-color: rgb(223, 250, 255);
}

h1{
    color: rgb(225, 110, 129);
    font-variant: small-caps;
}

#recipeForm input{
    border: transparent;
}

#recipeTitle{
    margin: 5px;
    padding: 5px;

    height: 5vh;
    width: 50vw;
}

#recipeDescription{
    margin: 5px;
    padding: 5px;

    height: 15vh;
    width: 50vw;

    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

    border: transparent;
    /* vertical-align: top; */
    /* display: flex; */
}

#recipeServings{
    margin: 5px;
    padding: 5px;

    /* align-self: end; */
}

#recipeDropdowns{
    margin: 10px;

    display: flex;
    /* justify-content: space-around; */

    text-align: center;
}

.recipe-drop{
    padding: 10px;

    width: 15vw;

    display: flex;
    flex-direction: column;
}

.recipe-drop select{
    margin: 8px 0;
    padding: 4px;

    border: transparent;
}

.recipe-image-input{
    margin-bottom: 15px;
}

.recipe-preview{
    height: 100px;

}
#ingredientSection{
    border: solid 2px rgb(239, 191, 191);
    border-radius: 15px;

    margin: 10px;
    padding: 15px;

    background-color: rgb(227, 162, 173);

    text-align: center;
}

.ingredient-data{
    padding: 5px;
}

.ingredient-data input{
    padding: 4px;
}

.ingredient-data select{
    padding: 4px;

    border: transparent;
}

.ingredientName{
    width: 30vw;

    margin: 0 10px 0 0;
}

.ingredientQuantity{
    width: 12vw;
    margin: 0 5px;
}

.remove-btn{
    margin: 0 0 0 15px;
    padding: 5px 15px;

    background-color: rgb(185, 37, 64);
    color: white;

    border: transparent;
    border-radius: 15px;
}

#addIngredientBtn{
    margin-top: 15px;
    padding: 5px 15px;

    border: transparent;
    border-radius: 5px;
}

#addRecipeBtn{
    margin-top: 15px;
    margin-bottom: 5px;
    padding: 12px 25px;

    background-color: rgb(185, 37, 79);
    color: white;

    border: transparent;
    border-radius: 15px;
}

#recipeList{
    margin: 10px;
}

.recipe-card{
    padding: 20px;
    margin: 15px 0;

    border: solid 3px rgb(231, 166, 181);
    border-radius: 5px;

    display: flex;
}

.recipe-image{
    max-width: 400px;
}

/* .card-stats{
    display: inline;
} */

.card-stat{
    padding: 0;
    margin: 8px;

    font-variant: all-small-caps;
}

.recipe-card-data{
    /* width: 50vw; */
    
    margin-left: 15px;

    background-color: rgb(245, 229, 231);
}

.recipe-card h3{
    padding: 0 5px;

    font-size: 5vh;
    
    font-variant: small-caps;
    text-align: center;
}

.card-description{
    padding: 20px 10px;
    margin: 10px 35px;
    
    background-color: rgb(216, 149, 160);

    border-radius: 5px;

    /* min-width: 35vw; */
}

h4{
    margin: 10px;
}

.card-ingredients{
    margin: 15px 0;

    text-align: center;
    
}

.card-ingredient{
    padding: 2px;
}

.recipe-card-data button{
    margin-right: 30px;
    margin-bottom: 20px;

    display: flex;
    justify-self: end;

}